@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #2B1103;
    --sub-color: #dcc69c;
    --white: #fff;
    --border: .1rem solid rgba(220, 198, 156, .3);
}

.home
{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.home .box img {
    border-radius: .5rem;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.home .box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.home .box .flex h3 {
    font-size: 2.5rem;
    color: var(--sub-color);
    text-transform: capitalize;
    font-family: Monstserrat, sans-serif;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--sub-color);
    margin: 1rem auto;
}



.availability form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
}

.availability form .flex .box {
    flex: 1 1 20rem;
}

.availability form .flex .box p {
    font-size: 1.8rem;
}

.availability form .flex .box .input {
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: var(--main-color);
    color: var(--sub-color);
    border-bottom: var(--border);
    font-size: 1.3rem;
}

.availability form .flex .box .input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.home .about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
    align-items: center;
}

.home .about .row .image {
    flex: 1 1 40rem;
}

.home .about .row .image img {
    width: 40rem;
    border-radius: .5rem;
}

.home .about .content {
    flex: 1 1 40rem;
}

.home .about .content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--sub-color);
    text-transform: capitalize;
}

.home .about .content p {
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.home .about .row.reverse {
    flex-flow: row-reverse;
    flex-wrap: wrap;
}

.service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.service .box-container .box {
    padding: 2rem;
    text-align: center;
}

.service .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
    width: 7rem;
    object-fit: cover;
    border-radius: .5rem;
}

.service .box-container .box h3 {
    font-size: 2rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin: 1rem 0;
}

.service .box-container .box p {
    font-size: 1.5rem;
    color: var(--sub-color);
    line-height: 2;
}

.gallery img {
    height: 40rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
    margin: 4rem 0;
}

.swiper-pagination-bullet {
    background-color: var(--sub-color);
}












@media (max-width:768px)
{
    .home .box img {
        height: 40vh;
    }
}

@media (max-width:450px)
{
    .home .box img {
        height: 30vh;
    }

    .home .about .row .image img {
        width: 100%;
    }
    .gallery img {
        width: 100%;
    }
}


